---
import Test from '@/components/Test';
import Layout from '../layouts/Layout.astro';
import { client } from '@nubojs/graphql';

const result = await client.query({
  websites: {
    id: true,
    name: true,
    domains: true,
  },
  pages: {
    id: true,
    title: true,
  },
});

console.log(result);
---

<Layout title="Nubo">
  <main>
    <h1 class="py-4 text-2xl font-bold">Nubo</h1>

    <Test client:load websites={result.websites} pages={result.pages} />
  </main>
</Layout>
