---
import Test from '@/components/Test';
import Layout from '../layouts/Layout.astro';
import { client } from '@nubojs/graphql';

const result = await client.query({
  findFirstPage: [
    {
      where: {
        path: {
          equals: Astro.url.pathname,
        },
      },
    },
    {
      id: true,
      title: true,
      path: true,
    },
  ],
});
const page = result.findFirstPage;

if (!page) {
  return Astro.redirect('/not-found');
}
---

<Layout title={page.title}>
  <main>
    <h1 class="py-4 text-2xl font-bold">Nubo</h1>

    {page && <Test client:load page={page} />}
  </main>
</Layout>
