---
import Test from '@/components/Test';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nubo">
  <main>
    <h1 class="text-2xl font-bold">Nubo</h1>

    <a href="/about">About</a>
    <Test client:load />
  </main>
</Layout>
