---
import Test from '@/components/Test';
import Layout from '../layouts/Layout.astro';

const result = await fetch('http://localhost:5003');
const data = await result.json();
---

<Layout title="Nubo">
  <main>
    <h1 class="text-2xl font-bold">Nubo</h1>

    <a href="/about">About</a>

    <Test client:load data={data} />
  </main>
</Layout>
